[submodule "deps/libwally-core"]
	path = deps/libwally-core
	url = git@github.com:ElementsProject/libwally-core.git
	branch = master
[submodule "deps/bc-ur-java"]
	path = deps/bc-ur-java
	url = git@github.com:jollyjoker992/bc-ur-java.git
