[submodule "deps/libwally-core"]
	path = deps/libwally-core
	url = git@github.com:ElementsProject/libwally-core.git
	branch = master
[submodule "deps/bc-ur"]
	path = deps/bc-ur
	url = git@github.com:BlockchainCommons/bc-ur.git
